body {
  background-color: white;
  /* наследование */
  color: lightpink;
  font-family: monospace;
}

table {
  text-align: center;
}

/* селектор дочерних элементов*/
td > form {
  text-align: center;
}

fieldset {
  text-align: left;
  border: 3px solid hotpink;
  margin-bottom: 7px;
}

input {
  margin: 2px 7px;
}

/* селектор потомств - граница для картинок в таблицах */
td img {
  border: 3px solid hotpink;
  margin-top: 5px;
}

/* каскадирование */
table.inner {
  width: 100%;
  border: 3px solid hotpink;
  border-collapse: collapse;
  text-align: left;
  margin: auto;
}

table.inner td {
  border: 1px solid hotpink;
}

table.inner th {
  border-bottom: 3px solid hotpink;
  border-right: 1px solid hotpink;
  padding: 7px;
}

#header {
  text-align: center;
  height: 80px;
  width: 100%;
  vertical-align: middle;
  background-color: hotpink;
  border-radius: 15px;
  margin: 5px;
}

#name {
  font-size: 25px;
  color: white;
  font-family: serif;
}

#plot-svg {
  /*background-color: #ffffff;*/
  border-radius: 20px;
}

tr {
  padding-top: 5px;
}

td {
  vertical-align: top;
  padding: 5px;
}

#left-content-column {
  width: 25%;
  text-align: center;
}

#middle-content-column {
  width: 50%;
}

#right-content-column {
  width: 25%;
  text-align: center;
}

#footer {
  text-align: center;
  width: 100%;
}

/* селектор атрибутов - внешний вид кнопки */
input[type="submit"], input[type="button"] {
  background-color: #4d7198;
  border-radius: 10px;
  color: white;
  font-family: monospace;
  padding: 3px 7px;
}

input[type="submit"]:hover, input[type="button"]:hover {
  background-color: #688bb0;
}

#clock {
  color: deeppink;
  font-weight: bold;
  font-size: 20px;
}